<section id="login">
  <form fxLayout="column" fxLayoutAlign="center center" [formGroup]="loginForm" fxLayoutGap="10px"
    (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input
        type="email"
        email
        matInput
        placeholder="email"
        formControlName="email"
        emailInput="ngModel">
      <mat-hint>Please enter a valid email</mat-hint>
      <mat-error>
        Invalid email
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        type="password"
        matInput
        placeholder="password"
        formControlName="password">
      <mat-error>
        Enter password
      </mat-error>
    </mat-form-field>

    <button
      *ngIf="!isLoading"
      type="submit"
      [disabled]="loginForm.invalid"
      mat-raised-button
      color="primary">Login</button>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </form>
</section>
